<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>puevfgvna.gvrgmr@hav-ovryrsryq.qr</string>
	<key>contactName</key>
	<string>Christian Tietze</string>
	<key>description</key>
	<string>&lt;strong&gt;&lt;/strong&gt;New shiny bundle for X.</string>
	<key>name</key>
	<string>Christian’s Bundle</string>
	<key>uuid</key>
	<string>31820AF3-C7A6-4FE5-BDC1-9E26B48C5EED</string>
</dict>
</plist>
